.form-profile{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-profile img{
    margin-bottom: 1em;
    border-radius: 50%;
    object-fit: cover;
}

.label-avatar{
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
  
.label-avatar input{
    display: none;
}
  
.label-avatar span{
    z-index: 99;
    position: absolute;
    opacity: 0.7;
    transition: all 0.5s;
}

.btn-save{
    border: none;
    border-radius: 8.203px;
    background: #1D3485;
    width: 100%;
    padding: 15px;
    color: #FFF;
    font-size: 15px;
    margin-bottom: 25px;
    cursor: pointer;
}

.btn-save:hover{
    background-color: #1a2e75;
}